.skills-container {
    margin-top: 50px;



    >.wrapper {
        padding: 20px;
        max-width: 950px;
        margin: 0 auto;

        .dot {
            position: relative;
            color: var(--color-text-muted);
            text-transform: uppercase;
            letter-spacing: 2px;
            padding-left: 30px;
            display: flex;
            align-items: center;
            justify-content: flex-start;


            &::before {
                content: '';
                position: absolute;
                height: 10px;
                width: 10px;
                border-radius: 50%;
                background-color: var(--color-green);
                left: 0;
            }
        }

        >h2 {
            font-size: 40px;
            color: var(--color-accent);
            margin-top: 30px;
        }

        .skill-cards {
            margin-top: 30px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 30px;

            .skill-card {
                >p {
                    color: var(--color-text-muted);
                    border-bottom: 1px solid var(--color-border);
                    letter-spacing: 2px;
                    padding-bottom: 10px;
                    font-size: 12px;
                }

                >div {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    flex-wrap: wrap;
                    gap: 10px;
                    margin-top: 15px;
                    padding-bottom: 8px;
                    position: relative;



                    span {

                        color: var(--color-accent);
                        border: 1px solid var(--color-border);
                        font-family: var(--font-code);
                        font-weight: 700;
                        font-size: 12px;
                        padding: 6px 14px;
                        border-radius: 10px;
                        transition: .3s ease-in-out;

                        &:hover {
                            background-color: var(--color-accent);
                            color: var(--color-bg);

                        }

                    }
                }
            }
        }
    }
}

@media screen and (min-width:320px) and (max-width:600px) {
    .skills-container {
        >.wrapper {
            .skill-cards {
                grid-template-columns: 1fr;
            }
        }
    }
}