.experienceContainer {
    // padding-top: 100px;
    min-height: 100dvh;
    background-color: var(--bg);
    --project-number: 01;




    >.wrapper {
        padding: 20px;
        max-width: 950px;
        margin: 0 auto;

        .underScore {
            position: relative;
            color: var(--accent);
            text-transform: uppercase;
            letter-spacing: 2px;
            padding-left: 35px;
            display: flex;
            align-items: center;
            justify-content: flex-start;

            &::before {
                content: '';
                position: absolute;
                height: 1px;
                width: 30px;
                background-color: var(--accent);
                left: 0;
            }
        }

        >h2 {
            font-size: 30px;
            color: var(--text);
            margin-top: 30px;
        }

        >p {
            color: var(--muted);
            margin-top: 15px;
        }

        >.experienceList {
            margin-top: 20px;


            .experienceItem {
                display: flex;
                color: var(--text);
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    background-color: var(--accent);
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    left: 88px;
                    border-radius: 50%;
                }

                >div:first-child {
                    font-family: var(--font-code);
                    border-right: 1px solid var(--muted);
                    display: flex;
                    flex-shrink: 0;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;
                    padding-right: 20px;
                }

                >div:last-child {
                    padding-left: 20px;

                    h2 {
                        padding-bottom: 5px;
                    }

                    p {}

                    >span {
                        background-color: var(--accent);
                        color: var(--bg);
                        font-size: 12px;
                        padding: 2px 5px;
                        border-radius: 3px;
                    }

                    ul {
                        margin-top: 15px;
                        padding-left: 15px;

                        li {
                            margin-bottom: 5px;
                        }
                    }
                    .skills{
                        display: flex;
                        flex-wrap: wrap;
                        gap: 10px;
                        margin-top: 15px;

                        span{
                            background-color: #00e5a012;
                            color: var(--accent);
                            font-size: 12px;
                            padding: 2px 8px;
                            border-radius: 10px;
                            border: 1px solid var(--accent);
                        }
                    }
                }
            }
        }
    }
}